---
import Section from "@components/Section.astro";
import Grid from "@components/Grid.astro";
import LinkPanel from "@components/LinkPanel.astro";
---

<Section title="Follow us">
	<Grid>
		<LinkPanel
			icon="mdi:facebook"
			href="https://www.facebook.com/melbournediscgolf"
			title="Facebook"
		/>
		<LinkPanel
			icon="mdi:instagram"
			href="https://www.instagram.com/melbournediscgolf/"
			title="Instagram"
		/>
	</Grid>
</Section>
