---
export interface Props {
	class?: string;
}

const { class: className = "" } = Astro.props;
---

<div class={`rounded border border-slate-300 my-8 px-8 h-full text-width ${className}`}>
	<slot />
</div>
